<div class="login-content pt-5 password-form-container">

  <div class="logo"></div>
  <h3>Forgot your password?</h3>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group row mt-5">
      <%= f.email_field :email, placeholder: 'Email', autofocus: true %>
    </div>

    <div class="actions modal-actions">
      <%= f.submit "Send password update link", class: "btn-submit" %>
      <%= link_to "Cancel", "/admin/login",  class: "btn-cancel" %>
    </div>
  <% end # form %>
</div>
