    <%= form_for(group) do |f| %>
      <% if group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
          <ul>
          <% group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <tbody>
      <tr><td>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </td></tr>

      <tr><td>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </td></tr>
      
      <tr><td>
        <%= f.label :summary %>
        <%= f.text_field :summary %>
      </td></tr>

      <%= f.hidden_field :id %>

        <%= form_tag("affiliates", method: "POST") do %>
          <tr><td>
            <%= label_tag "Add Affiliate" %>
            <%= collection_select(:affiliation, :affiliated_id, @groups.all, :id, :name, :prompt => true) %>
          </td></tr>
    <tr><td>
    <div class="actions">
        <%= f.submit %>
      </div>
    </td></tr>
         <% end %>
    <% end %>
