<%= render 'layouts/header' %>

<div class="container-html">
  <div class="card">
    <div id="join-group-container" class="card-block">

      <div class="content">
        <h1><%= @group.name %></h1>
        <div>
          <%= raw(@group.description) %>
        </div>
      </div>

      <div class="right-aside">
        <div class="call-to-action">
          Join our group
        </div>
        <% if current_person %>
          <% if @group.members.include? current_person %>
            <%= render 'already_joined_notice' %>
          <% else %>
            <%= render 'join_buttons_logged_in' %>
          <% end %>
        <% else %>
          <%= render 'join_buttons_logged_out' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
