<p id="notice"><%= notice %></p>

<p>
  <strong>Origin system:</strong>
  <%= @group.origin_system %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @group.summary %>
</p>

<p>
  <strong>Browser url:</strong>
  <%= @group.browser_url %>
</p>

<p>
  <strong>Featured image url:</strong>
  <%= @group.featured_image_url %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @group.creator_id %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
