<div class="login-content pt-5">
  <h2>Log in</h2>
  <div class="oauth-group">

    <%= link_to omniauth_authorize_path(:person, :facebook, auth_mode: 'login'),
                class: "btn-facebook-login" do %>
      <%= image_tag "facebook-logo.svg"%> 
      <span>Login with Facebook</span>
    <% end %>

    <%= link_to omniauth_authorize_path(:person, :google_oauth2, auth_mode: 'login'),
                class: "btn-google-login" do %>
      <%= image_tag "google-logo.svg"%> 
      <span>Login with Google</span>
    <% end %>

  </div>

  <hr>
  <div class="or">OR</div>

  <div class="email-group">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field form-group row mt-5">
        <%= f.label :email, class: "col-2 col-form-label mr-4" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control col-md-9" %>
      </div>
      
      <div class="field form-group row">
        <%= f.label :password, class: "col-2 col-form-label mr-4" %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control col-md-9" %>
      </div>
      
      <div class="email-group">
        <div class="btn-email-login">
          <%= image_tag "email-icon.svg"%>
          <%= f.submit "Login with email", class: "btn-email-login" %>
        </div>
      </div>
      <div class="email-helpers">
        <div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <div>
          <%= render "devise/shared/links" %>          
        </div>
      </div>
    <% end %>
  </div>
</div>
