<div class="form-group mt-3">
  <%= f.fields_for :email_addresses do |ff| %>
    <%= ff.text_field :address, placeholder: 'Email*', required: true, class: 'wide' %>
    <%= ff.hidden_field :primary, value: true %>
  <% end # f.fields_for :email_addresses %>
</div>

<div class="form-group">
  <%= f.password_field :password, placeholder: 'Password*', required: true, class: 'wide' %>
</div>

<div class="form-group">
  <%= f.text_field :given_name, placeholder: 'First Name*', required: true, class: 'wide' %>
</div>

<div class="form-group">
  <%= f.text_field :family_name, placeholder: 'Last Name*', required: true, class: 'wide' %>
</div>

<div class="form-group">
  <%= f.fields_for :personal_addresses do |ff| %>
    <%= ff.text_field :postal_code, placeholder: 'Zip Code*', required: true, class: 'wide' %>
    <%= ff.hidden_field :primary, value: true %>
  <% end # f.fields_for :personal_addresses %>
</div>

<div class="form-group">
  <%= f.fields_for :phone_numbers do |ff| %>
    <%= ff.text_field :number, placeholder: 'Phone', class: 'wide' %>
    <%= ff.hidden_field :primary, value: true %>
  <% end # f.fields_for :phone_numbers %>
</div>
