<%= render 'layouts/header' %>

<div class="container-html">
  <div class="card">
    <div id="new-subgroup-container" class="card-block">

      <div class="header">

        <h1>Create a <%= @group.name %> affiliate</h1>
        <div id="errors-container">
          <% if @subgroup.errors.any? %>
            <div id="error_explanation" class="alert alert-danger" role="alert">
              <strong>Your submission has <%= pluralize(@subgroup.errors.count, "error") %></strong>
              <ul>
                <% @subgroup.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end # if @subgroup.errors %>
        </div>
      </div>
      
      <%= form_for @subgroup, url: {action: "create"} do |f| %>
        <div class="form-container">
          <div class="inputs-container">
            <div class='group-input-container'>

              <h2>Group Info</h2>

              <div class="group-inputs">

                <div class="field">
                  <%= f.text_field :name, placeholder: :name, required: true %>
                </div>
                <div class="field">
                  <%= f.fields_for :location, @subgroup.location do |location_form| %>
                    <%= location_form.text_field :postal_code, placeholder: 'Zipcode (group)' %>
                  <% end %>
                </div>
                <div class="field">
                  <%= f.text_area :description, placeholder: 'Description (may contain HTML)' %>
                </div>
              </div>
            </div>

            <% if current_person %>
              <%= render 'organizer_info_logged_in', f: f %>
            <% else %>
              <%= render 'organizer_info_logged_out', f: f %>
            <% end %>
          </div>

          <div class="submit-container">
            <%= f.submit "Submit", class: "btn-submit"%>
          </div>
        </div>
      <% end # form_for %>
      
    </div>
  </div>
</div>
</div>
