<%= render 'layouts/header' %>

<div class="container-html">
  <div class="card">
    <div id="new-subgroup-container" class="card-block">

      <div class="header">

        <h1>Create a <%= @group.name %> affiliate</h1>
        <div id="errors-container">
          <% if @subgroup.errors.any? %>
            <div id="error_explanation" class="alert alert-danger" role="alert">
              <strong>Your submission has <%= pluralize(@subgroup.errors.count, "error") %></strong>
              <ul>
                <% @subgroup.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end # if @subgroup.errors %>
        </div>
      </div>

      
      <%= form_for @subgroup, url: {action: "create"} do |f| %>
        <div class="form-container">
          <div class='group-input-container'>

            <h2>Group Info</h2>

            <div class="group-inputs">

              <div class="field">
                <%= f.text_field :name, placeholder: :name %>
              </div>
              <div class="field">
                <%= f.text_field :summary, placeholder: :summary %>
              </div>
              <div class="field">
                <%= f.fields_for :location, @subgroup.location do |location_form| %>
                  <%= location_form.text_field :postal_code, placeholder: 'Zipcode (group)' %>
                <% end %>
              </div>
              <div class="field">
                <%= f.text_area :description, placeholder: :description %>
              </div>
            </div>
          </div>

          <div class="organizer-input-container">

            <h2>Organizer Info</h2>

            <% organizer = @subgroup.memberships.first.person %>
            <% phone_number = organizer.phone_numbers.first %>
            <% email_address = organizer.email_addresses.first %>
            <% address = organizer.personal_addresses.first %>
            
            <div class="organizer-inputs">
              <%= f.fields_for :organizer_attributes, organizer do |member_form| %>
                <div class="field">
                  <%= member_form.text_field :given_name, placeholder: :first_name %>
                </div>
                <div class="field">
                  <%= member_form.text_field :family_name, placeholder: :last_name %>
                </div>
                <div class="field">
                  <%= member_form.password_field :password, placeholder: :password %>
                </div>
                <div class="field">
                  <%= member_form.fields_for :phone_numbers_attributes, phone_number do |phone_form| %>
                    <%= phone_form.text_field :number, placeholder: 'Phone number' %>  
                  <% end #member_form.fields_for :phone_number %>
                </div>
                <div class="field">
                  <%= member_form.fields_for :email_addresses_attributes, email_address do |email_form| %>
                    <%= email_form.text_field :address, placeholder: 'Email' %>
                  <% end #member_form.fields_for :email_address %>
                </div>
                <div class="field">
                  <%= member_form.fields_for :personal_addresses_attributes, address do |email_form| %>
                    <%= email_form.text_field :postal_code, placeholder: 'Zipcode (personal)' %>
                  <% end #member_form.fields_for :email_address %>
                </div>
              <% end %>
            </div>
          </div>

          <%= f.submit "Submit", class: "submit"%>

        </div>
      <% end # form_for %>
      
    </div>
  </div>
</div>
</div>
