<div class="login-content pt-5">
    
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group row mt-5">
      <%= f.label :email, class: "col-5 col-form-label mr-4 pl-0" %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control col-md-9" %>
    </div>

    <div class="field form-group row mt-5">
      <%= f.label :password, class: "col-2 col-form-label mr-4 pl-0" %>
      <% if @minimum_password_length %>
      <span class="login-tag"><em>span(<%= @minimum_password_length %> characters minimum)</em></span>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control col-md-12" %>
    </div>

    <div class="field form-group row">
      <%= f.label :password_confirmation, class: "col-6 col-form-label mr-4 pl-0" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control col-md-12" %>
    </div>

    <div class="actions text-center mt-4">
      <%= f.submit "Sign up", class: 'btn btn-success' %>
    </div>
  <% end %>
  
  <div class="text-right">
    <%= render "devise/shared/links" %>
  </div>
</div>