<div class="nested-fields field pb-3 form-group">
  <%= f.label :address, 'Email address', class: 'col-2 col-form-label float-left' %>
  <%= f.text_field :address, class: 'mr-4 float-left' %>
  <%= f.check_box :primary , class: 'js-email-primary'%>
  <%= f.label :primary %>
  <%= link_to_remove_association 'Remove', f, class: 'btn btn-danger btn-sm' %>
  <%= f.hidden_field :validate_address, value: true %>
</div>


