<%= form_for(@member, as: :person, url: group_members_path([@group, @member])) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <tbody>
    <%= f.fields_for :person do |ff| %>
      <tr><td>
        <div class="field">
          <%= ff.label :given_name %>
          <%= ff.text_field :given_name %>
        </div>
      </td></tr>

      <tr><td>
        <div class="field">
          <%= ff.label :family_name %>
          <%= ff.text_field :family_name %>
        </div>
      </td></tr>

      <tr><td>
        <div class="field">
          <%= ff.label :gender %>
          <%= ff.text_field :gender %>
        </div>
      </td></tr>

      <tr><td>
        <div class="field">
          <%= ff.label :gender_identity %>
          <%= ff.text_field :gender_identity %>
        </div>
      </td></tr>

      <tr><td>
        <div class="field">
          <%= ff.label :party_identification %>
          <%= ff.text_field :party_identification %>
        </div>
      </td></tr>

      <tr><td>
        <div class="field">
          <%= ff.label :ethnicities %>
          <%= ff.text_field :ethnicities %>
        </div>
      </td></tr>

      <tr><td>
        <div class="field">
          <%= ff.label :languages_spoken %>
          <%= ff.text_field :languages_spoken %>
        </div>
      </td></tr>

      <tr><td>
        <div class="field">
          <%= ff.label :birthdate %>
          <%= ff.text_field :birthdate %>
        </div>
      </td></tr>

      <tr><td>
        <div class="field">
          <%= ff.label :employer %>
          <%= ff.text_field :employer %>
        </div>
      </td></tr>

    <% end %>

    
    <%= f.fields_for :email_address do |ff| %>
      <tr><td>
        <div class="field">
          <%= ff.label :email_address %>
          <%= ff.text_field :email_address %>
        </div>
      </td></tr>
      
    <% end %>

    <%= f.fields_for :phone_number do |ff| %>
      <tr><td>
        <div class="field">
          <%= ff.label :phone_number %>
          <%= ff.text_field :phone_number %>
        </div>
      </td></tr>
      
    <% end %>

  <tr><td>
    <div class="actions">
      <%= f.submit %>
      </div>
  </td></tr>
<% end %>
