<%= form_for(@member, as: :person, url: group_members_path([@group, @member])) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.fields_for :person do |ff| %>
  <div class="field">
    <%= ff.label :given_name %>
    <%= ff.text_field :given_name %>
  </div>

  <div class="field">
    <%= ff.label :family_name %>
    <%= ff.text_field :family_name %>
  </div>

  <div class="field">
    <%= ff.label :gender %>
    <%= ff.text_field :gender %>
  </div>

  <div class="field">
    <%= ff.label :gender_identity %>
    <%= ff.text_field :gender_identity %>
  </div>

  <div class="field">
    <%= ff.label :party_identification %>
    <%= ff.text_field :party_identification %>
  </div>

  <div class="field">
    <%= ff.label :ethnicities %>
    <%= ff.text_field :ethnicities %>
  </div>

  <div class="field">
    <%= ff.label :languages_spoken %>
    <%= ff.text_field :languages_spoken %>
  </div>

  <div class="field">
    <%= ff.label :birthdate %>
    <%= ff.text_field :birthdate %>
  </div>

  <div class="field">
    <%= ff.label :employer %>
    <%= ff.text_field :employer %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
