<% content_for :signup_form do %>
  <h3>Join <%= @group.name %></h3>
  <div>
    <%= form_for @member, as: :person, url: group_members_path(@group, signup_mode: 'email') do |f| %>
      <!-- errors -->
      <%= render "shared/signup_error_alert", person: @member %>
      <!-- inputs -->
      <%= render "shared/signup_fields_email", f: f %>
      <!-- action buttons -->
      <div class="actions modal-actions">
        <%= f.submit "Submit", class: "btn-submit" %>
        <%= link_to "Cancel", group_join_path(@group),  class: "btn-cancel" %>
      </div>
    <% end # form_for @member %>
  </div>
<% end #content_for :signup_form%>
